[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
flask-restplus = "*"
gunicorn = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
gevent = "*"
raven = {version = "*", extras = ["flask"]}

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"

[requires]
python_version = "3.6"
