[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Cors = "*"
flask-restplus = "*"
gunicorn = "*"
gevent = "*"


[dev-packages]

tox = "*"
detox = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
isort = "*"


[requires]

python_version = "3.6"
